{% set facetNames = {
  organization: 'Organizations',
  groups: 'Catégories',
  tags: 'Tags',
  res_format: 'Formats',
  license_id: 'Licenses'
} %}

{% for facetId, value in result.search_facets %}
<section class="mb-8 md:pr-6 font-open-sans">
  <h2 class="pb-4 font-bold text-xl text-gray-900">{{ __(facetNames[facetId]) }}</h2>
  <ul>
    {% for item in value.items|sort(reverse=true, attribute="count") %}
    <li class="flex justify-between items-center group hover:bg-sarcelle-lightest">
      <a class="flex-1 font-bold text-gray-900 group-hover:text-primary text-base pl-4 py-3" href="/search?q={{ facetId }}:{{ item.name }} {{ query.q }}" aria-label="{{ item.display_name }} ({{ item.count }} results)">
        {{ item.display_name }}
      </a>
      <span class="flex-none text-sm text-gray-ink group-hover:text-primary px-4">{{ item.count }}</span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
