{% extends "base.html" %}

{% block title %}
{{ title }} - Dashboard
{% endblock %}

{% block content %}
<div role="main">
  <div id="content" class="container-fluid">
    <div class="container mx-auto p-gutter">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
          <li class="breadcrumb_item">
            <a class="breadcrumb_link" href="/">{{__('Accueil')}}</a>
          </li>
          <li class="breadcrumb_item">
            <a class="breadcrumb_link" href="/applications">{{__('Applications')}}</a>
          </li>
          <li class="breadcrumb_item">
            <a class="breadcrumb_link" href="/application/single/{{ showcase.id }}" aria-current="page">{{ showcase.title|truncate(50) }}</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="container mx-auto md:flex p-gutter">
      <div class="md:w-1/3 md:mr-gutter">
        <div class="border border-gray-200 p-4 mb-gutter md:mr-10 pb-8">
          <div class="py-4">
            <p class="text-black text-sm">{{__('Submitted by')}}</p>
            <h2 class="text-primary text-xl font-semibold">{{ showcase.author }}</h2>
          </div>
          <a class="flex inline-flex items-center px-4 py-2 bg-primary rounded text-white text-sm font-bold" href="{{ showcase.url }}" target="_blank">
            {{__('Find out more')}}
            <span class="ml-2" style="background-image: url(/static/img/ext_link.svg); height:14px; width:14px;"></span>
          </a>
        </div>
      </div>
      <main class="md:w-2/3">
        <h2 class="pb-8 text-3xl font-bold">{{ showcase.title }}</h2>
        <span class="markdown-content leading-relaxed border-t border-gray-200 p-4 text-lg">{{ showcase.notes | processMarkdown | safe }}</span>
        <div class="container w-full md:p-8">
          <img class="object-fill w-full" src="{{ showcase.image_display_url }}">
        </div>
        <br>
        <section class="mt-2 mb-6 md:pr-10">
          <h2 class="text-2xl py-3 border-gray-200 font-bold">
            {{__('Dataset(s) used in this application')}}
          </h2>
          <ul>
            {% for dataset in datasets %}
              <a class="application_dataset flex border-t border-gray-200 p-4" href="/{{ dataset.organization.name }}/{{ dataset.name }}">
                <img class="block" src="{{ dataset.groups[0].image_display_url }}" width="50px" height="50px" />
                <span class="text-base filter-button font-bold">
                  {{ dataset.title }}
                </span>
              </a>
            {% endfor %}
          </ul>
        </section>
        <section class="mt-16 mb-32">
        {% for tag in showcase.tags %}
          <div id="keywords" class="py-2">
            <h2 class="text-3xl font-semibold pt-gutter pb-2 text-gray-900">{{__('Keywords')}}</h2>
              <span class="border text-xs inline-block rounded-sm px-2 py-1 font-bold text-primary mr-2">
                <a href="/applications?q=tags:{{tag.name | safe}}">
                  {{ tag.display_name }}
                </a>
              </span>
          </div>
        {% endfor %}
        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}
