{% extends "base.html" %}

{% block title %}
{{ title }} - Dashboard
{% endblock %}

{% block content %}

<div role="main">
  <div id="content" class="container-fluid">
    <div class="container mx-auto p-gutter">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
          <li class="breadcrumb_item">
            <a class="breadcrumb_link" href="/">{{__('Accueil')}}</a>
          </li>
          <li class="breadcrumb_item">
            <a class="breadcrumb_link" href="/applications" aria-current="page">{{__('Showcases')}}</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto md:flex p-gutter">
      <div class="w-2/3">
        <h1 class="font-semibold text-3xl mb-1">{{__(title)}}</h1>
        <p class="leading-relaxed lg:w-full">{{__(description)}}</p>
      </div>
    </div>
        
    <div class="container mx-auto md:flex p-gutter">
      <div class="md:w-1/3 md:mr-gutter">
          <button id="filter-toggle" class="bg-primary w-full text-white mb-6 p-3 invisible md:hidden">
            Toggle filters
          </button>
      
          <div class="search-filters">
            {% set facetNames = { tags: 'Tags' } %}
          
            {% for facetId, value in showcases.search_facets %}
            {% if facetId == 'tags' %}

            <section class="mb-8 font-open-sans">
              <h3 class="pb-4 font-semibold text-2xl text-gray-900">{{ __(facetNames[facetId]) }}</h3>
              <ul class="pb-3">
                {% for item in value.items|sort(reverse=true, attribute="count") %}
                {% set itemName = '"' + item.name + '"' %}
                <li class="search-facet flex justify-between items-center text-gray-900 group hover:bg-sarcelle-lightest cursor-pointer" style=".search-facet">
                  <a class="flex-1 font-bold group-hover:text-primary text-base pl-3 py-3" href="/applications?q={{ facetId }}:{{ itemName }} {{ query.q }}" aria-label="{{ item.display_name }} ({{ item.count }} results)">
                    {{ item.display_name }}
                  </a>
                  <span class="flex-none font-bold text-sm text-gray-ink group-hover:text-primary px-3">{{ item.count }}</span>
                </li>
                {% endfor %}

                {# Link for showing more items from this face #}
                {% if value.items | length > 4 %}
                <li class="border-t border-gray-200">
                  <a href="/applications?facet.limit.{{facetId}}=-1&q={{ query.q }}" class="filter-button text-secondary hover:underline">
                    {{__('Show more')}}
                  </a>
                </li>
                {% endif %}
              </ul>
            </section>

            {% endif %}
            {% endfor %}
          </div>
      </div>

      <div class="md:w-2/3 md:mr-gutter">
        <form action="/applications" method="GET">
          <div class="relative mb-gutter">
            <input class="border-1 border-solid border-gray-400 rounded pr-2 pl-10 py-2 text-lg w-full outline-none" type="text" placeholder={{__('Search datasets')}} name="q" value="{{ query.q }}" autofocus>
            <button class="absolute flex items-center h-full px-3 top-0 left-0" type="submit">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4263 12.9554C16.9557 13.1127 17.5124 12.811 17.6697 12.2816C17.888 11.5468 18 10.7804 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18C11.833 18 13.5747 17.4194 14.9529 16.3671L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L15.7078 14.2936C15.7073 14.2931 15.7069 14.2927 15.7064 14.2922C15.3155 13.9021 14.6824 13.9027 14.2922 14.2936C13.2086 15.3793 11.6632 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10C16 10.587 15.916 11.1616 15.7525 11.712C15.5952 12.2414 15.8969 12.7981 16.4263 12.9554Z" fill="#ADB5BD"></path>
              </svg>
            </button>
          </div>

          <div class="flex flex-wrap items-center justify-center py-gutter">
            <h1 class="w-full flex-auto pb-5 text-center sm:w-auto sm:pb-0 sm:text-left md:w-full md:pb-5 md:text-center lg:w-auto lg:pb-0 lg:text-left text-4xl text-3-1/2xl font-bold text-black">     <!-- TODO font size -->
              {{ showcases.count }}
              {% if showcases.count == 1 %}
                {{__('Result')}}
              {% else %}  
                {{__('Results')}}
              {% endif %}
            </h1>
            <label class="flex-none font-bold text-lg text-black px-2" for="field-order-by">{{__('Order by')}}:</label>
            <div class="flex-none relative">
              <select class="bg-white appearance-none border-1 border-solid border-gray-400 text-base text-gray-900 rounded py-3 px-2 pr-8 leading-tight focus:outline-none focus:bg-white" id="field-order-by" name="sort" onchange="this.form.submit()">
                <option value="score:desc" {% if query.sort == "score:desc" %}selected="selected"{% endif %}>{{__('Relevance')}}</option>
                <option value="title_string:asc" {% if query.sort == "title_string:asc" %}selected="selected"{% endif %}>{{__('Name Ascending')}}</option>
                <option value="title_string:desc" {% if query.sort == "title_string:desc" %}selected="selected"{% endif %}>{{__('Name Descending')}}</option>
                <option value="metadata_modified:desc" {% if query.sort == "metadata_modified:desc" %}selected="selected"{% endif %}>{{__('Last Modified')}}</option>
                <option value="views_recent:desc" {% if query.sort == "views_recent:desc" %}selected="selected"{% endif %}>{{__('Popular')}}</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center py-3 pr-4 pl-2 text-gray-600">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </form>
       
            <div class="sm:flex flex-wrap sm:-mx-4 mt-gutter">
            {% for showcase in showcases.results %}
            <!-- showcase -->
            <div class="sm:w-1/2 lg:w-1/2">
                <a class="showcase-item block m-4 hover:border-1 hover:border-solid hover:border-transparent hover:bg-white hover:shadow-xl"  href="/applications/single/{{ showcase.id }}">
                    <div class="card-img">
                        <img class="rounded-t" src="https://montreal.l3.ckan.io/uploads/showcase/{{ showcase.image_url }}" style="width: calc(100% + 2px);height: 205px;object-fit: cover;" /> 
                    </div>
                    <div class="card-body border-1 border-gray-300 p-8" style="height: 300px;">
                        <p class="text-xl font-bold text-black  font-open-sans font-medium mb-4" style="display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">{{ showcase.title }}</p>
                        <p class="text-gray-600  font-open-sans font-normal" >{{ showcase.description | truncate(150) }}</p>
                    </div>
                </a>
            </div>
            <!-- showcase end -->
            {% endfor %}
          </div>
        <div class="flex flex-wrap justify-center">{% include "./partials/application-pagination.njk" %}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
