<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
  </title>
  <meta name="author" content="Datopian">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/stylesheets/app.css">
  <link rel="stylesheet" href="/static/stylesheets/montreal.css">
  {% if dataset %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
  {% endif %}
</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %} " id="montreal">
<!-- Page header -->
<header class="mx-auto w-full shadow-sm ">
  <div class="flex justify-between py-10 px-5 ">
    <div class="w-1/3  justify-center content-center items-center m-auto text-gray-900 font-bold ">
      <ul class="flex float-left">
        <li id="main-nav" class="m-auto pr-2" onclick="openNav()">
          <a href="#" class="flex items-center px-3 py-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2 6C2 6.55228 2.52672 7 3.17647 7H20.8235C21.4733 7 22 6.55228 22 6C22 5.44772 21.4733 5 20.8235 5H3.17647C2.52672 5 2 5.44772 2 6ZM2 12C2 12.5523 2.44772 13 3 13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H3C2.44772 11 2 11.4477 2 12ZM3 19C2.44772 19 2 18.5523 2 18C2 17.4477 2.44772 17 3 17H13C13.5523 17 14 17.4477 14 18C14 18.5523 13.5523 19 13 19H3ZM17 17C16.4477 17 16 17.4477 16 18C16 18.5523 16.4477 19 17 19H21C21.5523 19 22 18.5523 22 18C22 17.4477 21.5523 17 21 17H17Z"
                    fill="#212529"/>
            </svg>
            <span class="ml-4">Menu</span>
          </a>
        </li>
        <li class="m-auto  hidden  md:block ">
          <a class="flex" href="#">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.4263 12.9554C16.9557 13.1127 17.5124 12.811 17.6697 12.2816C17.888 11.5468 18 10.7804 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18C11.833 18 13.5747 17.4194 14.9529 16.3671L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L15.7078 14.2936C15.7073 14.2931 15.7069 14.2927 15.7064 14.2922C15.3155 13.9021 14.6824 13.9027 14.2922 14.2936C13.2086 15.3793 11.6632 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10C16 10.587 15.916 11.1616 15.7525 11.712C15.5952 12.2414 15.8969 12.7981 16.4263 12.9554Z"
                    fill="#212529"/>
            </svg>
            <span class="ml-4">Recherche</span>
          </a>
        </li>
      </ul>
    </div>
    <div class=" flex w-1/3  mx-auto justify-center content-center items-center ">
      <a class="logo" href="/">
        <img src="/static/img/logo.svg" alt="City of Montreal" title="City of Montreal"
             width="190px"/></a>
    </div>
    <div class="w-1/3 ">
    </div>

  </div>
  <div id="mySidenav"
       class=" bg-gray-900 bg-gray-900 px-0 text-center fixed z-50 p-12 h-16 h-screen overflow-hidden top-0 transition-3s w-0 ">
    <div class="relative mx-auto lg:float-right lg:px-6">
      <ul class="list-reset flex flex-row flex-col text-left">
        <li class="mr-3 text-3xl  text-right"><a href="javascript:void(0)" onclick="closeNav()">&times;</a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-lg md:text-xl text-gray-600 text-gray-400 block inline-block">{{__('Home')}}</span>
          </a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/news"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-lg md:text-xl text-gray-600 text-gray-400 block inline-block">{{__('News')}}</span>
          </a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/dash"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-lg md:text-xl text-gray-600 text-gray-400 block inline-block">{{__('Dashboard')}}</span>
          </a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/collections"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-lg md:text-xl text-gray-600 text-gray-400 block inline-block">{{__('Collections')}}</span>
          </a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/search"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-xl text-gray-600 text-gray-400 block inline-block">{{__('Data')}}</span>
          </a>
        </li>
        <li class="mr-3 pl-5 pr-20">
          <a href="/about"
             class="block py-1 py-3 pl-1 align-middle text-gray-800 no-underline -500 border-b-2 border-gray-800 border-gray-900 hover:border-primary ">
                       <span
                         class="pb-1 pb-0 text-lg md:text-xl text-gray-600 text-gray-400 block inline-block">{{__('About')}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- End of page header -->
<div id="main-container z-10">
  {% block content %}{{content}}{% endblock %}
</div>

<!-- Footer -->
<footer class="site-footer bg-gray-900 text-white-74 mt-10 py-gutter z-10 text-sm">
  <div class="container  w-3/4  m-auto  ">
    <div class="flex justify-center content-center items-center m-auto w-full ">
      <div class="w-1/2">
        <a class="block w-24 m-4 hover:text-white" href="https://ckan.org/" ml-24>
          <span>Powered by</span>
          {% include "./partials/ckan-logo.svg" %}
        </a>
      </div>
      <div class="w-1/2">
        <div class="dropdown float-right  ">
          <button
            class="cursor-pointer outline-none bg-gray-900  text-white border-2 font-semibold z-20 py-2 px-6 relative rounded-full inline-flex items-center">
            <span id="lang" class="mr-1">English</span>
          </button>
          <ul class="dropdown-menu absolute text-gray-700 pt-1">
            <li class="w-24 " onclick="languageSwitcher(this)"><a data-language="en"
                                                                  data-language-name="English"
                                                                  class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                                                  href="#">English</a></li>
            <li class="w-24" onclick="languageSwitcher(this)"><a data-language="fr"
                                                                 data-language-name="French"
                                                                 class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                                                 href="#">France</a></li>
          </ul>

        </div>
      </div>

    </div>
    <div class="border-b-2 white border-solid w-full"></div>
    <div class="py-10">
      <p class="text-center text-white">© [year] Ville de Montréal</p>
    </div>

  </div>
</footer>
</div>
<!-- end of footer -->

<div class="hidden">
  {% include "./partials/symbol/svg/sprite.symbol.svg" %}
</div>

<!-- <script src="/static/js/scripts.js"></script> -->
{% block scripts %}
<script>
  //set lang
  let lang = {'en': 'English', 'fr': 'France'};
  document.getElementById('lang').innerHTML = lang[readCookie('defaultLocale')];
  //set cookie
  function languageSwitcher(el) {
    let lang = el.getElementsByTagName('a')[0].getAttribute('data-language');
    document.cookie = 'defaultLocale=' + lang;
    location.reload();
  }
  //get cookie
  function readCookie(name) {
    var cookieName = name + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(cookieName) == 0) return c.substring(cookieName.length, c.length);
    }
    return null;
  }
</script>

<script>
  function closeNav() {
    document.getElementById('mySidenav').style.width = '0';
  }

  function openNav() {
    document.getElementById('mySidenav').style.width = '250px';
  }
</script>

<script>
  // nav
  var navToggle = document.getElementById('nav-toggle');
  var navTarget = navToggle.nextElementSibling;

  // show toggle
  navToggle.classList.remove('invisible');

  // hide nav
  navTarget.setAttribute('data-expanded', 'false');

  // toggle nav
  navToggle.onclick = function() {
    let expanded = navToggle.getAttribute('aria-expanded') === 'true' || false;
    navToggle.setAttribute('aria-expanded', !expanded);
    navTarget.setAttribute('data-expanded', !expanded);
  };

  // search
  // replace link with a button
  var searchLink = document.getElementById('search-link');
  var searchButton = document.createElement('button');
  var searchForm = document.getElementById('header-search');
  searchButton.setAttribute('class', 'main-nav_search-toggle');
  searchButton.setAttribute('aria-expanded', 'false');

  while (searchLink.childNodes.length > 0) {
    searchButton.appendChild(searchLink.childNodes[0]);
  }

  searchLink.replaceWith(searchButton);

  // button toggles form
  searchButton.onclick = function() {
    let expanded = searchButton.getAttribute('aria-expanded') === 'true' || false;
    searchButton.setAttribute('aria-expanded', !expanded);
    searchForm.setAttribute('data-expanded', !expanded);

    if (!expanded) {
      document.getElementById('header-search-input').focus();
    }
  };
</script>
{% endblock %}
</body>
</html>
