<p>
    This website is designed only for internal testing. Please, use our production site here: https://donnees.montreal.ca/.
</p>
<p>
    If you have any questions, you can reach us out via support@domain.com.
</p>

<br />

<form action="/basic-auth/user/pass" method="GET">
    <div>
      <label for="username">CKAN username</label>
      <input name="username" id="username" type="text">
    </div>
    <div>
      <label for="password">CKAN password</label>
      <input name="password" id="password" type="password">
    </div>
    <div>
      <button>Sign In</button>
    </div>
</form>