{% extends "base.html" %}

{% block title%}{{__('News')}}{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/news" aria-current="page">{{__('News')}}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto p-gutter">
  <h1 class="font-semibold text-3xl mb-1">{{__('News')}}</h1>
  {# <p class="leading-relaxed lg:w-2/3">
    {{__('News description')}}
  </p> #}
  <ul class="sm:flex flex-wrap sm:-mx-4 mt-gutter">
    {% for post in posts %}
    <!-- posts -->
    <li class="sm:w-1/2 lg:w-1/3">
      <a class="flex py-4 my-4 sm:mx-4" href="/news/{{ post.slug | safe }}">
        <div class="flex flex-col justify-center overflow-hidden">
          {% if post.image %}
            <img src="{{ post.image }}" />
          {% endif %}
          <p class="text-2xl font-bold">{{ post.title }}</p>
          <p class="text-gray-600">{{post.published}}</p>
          <p>{{ post.content | safe | truncate(500) }}</p>
        </div>
      </a>
    </li>
    <!-- posts end -->
    {% endfor %}
  </ul>
</div>

{% endblock %}
