{% extends "base.html" %}

{% block title%}{{__('News')}}{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/news" aria-current="page">{{__('News')}}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto md:flex p-gutter">

  <main class="md:w-2/3 md:mr-gutter lg:flex flex-wrap">
    <!-- posts -->
    {% set postCycler = cycler("odd", "even") %}
    {% for post in posts %}
    {% if postCycler.next() == "odd" %}
    <article class="article-preview mb-gutter pb-gutter lg:w-1/2 lg:pr-gutter">
    {% else %}
    <article class="article-preview mb-gutter pb-gutter lg:w-1/2 lg:pl-gutter">
    {% endif %}
    {% if post.image %}
      <a class="article-preview_image" href="/news/{{post.slug | safe}}">
        <img class="article-preview_img" src="{{post.image}}" />
      </a>
    {% endif %}
      <div class="article-preview_text">
        <h1 class="article-preview_heading">
          <a class="article-preview_heading-link" href="/news/{{post.slug | safe}}">{{post.title}}</a>
        </h1>
        <time class="article-preview_date">{{post.modified}}</time>
        <div class="article-preview_content">
          {{post.content | safe | truncate(200)}}
        </div>
      </div>
    </article>
    {% endfor %}
  </main>
</div>

{% endblock %}
