{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}

<div class="mx-auto p-gutter">
  <nav class="breadcrumb flex flex-col px-4 mx-auto max-w-6xl" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/{{ slug }}" aria-current="page">{{__(title)}}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="bg-gray-100">
    <section class="flex flex-col px-4 mx-auto max-w-6xl pt-16 pb-32">
        <div data-title="our-data">
            <h2 class="text-4xl text-zambezi font-semibold">{{__('Organizations')}}</h2>
        </div>
        <div data-title="collection-grid" class="flex w-full">
            <ul class="flex-grow sm:flex flex-wrap sm:-mx-2 mt-gutter">
                {% for collection in collections %}
                <!-- group -->
                <li class="sm:w-1/3 lg:w-1/3 p-2">
                    <a id="homepage-collection-icons" class="p-4 block bg-white rounded hover:border hover:border-solid hover:border-transparent hover:bg-white hover:shadow-xl hover:text-primary" href="/{{ slug }}/{{ collection.name }}" style="border:1px solid #CED4DA">
                        <img class="h-20" src="{{ collection.image }}"/>
                        <h2 class="text-xl h-16 font-bold flex items-center text-black">{{ collection.title }}</h2>
                    </a>
                </li>
                <!-- group end -->
                {% endfor %}
            </ul>
        </div>
    </section>
</div>

<!-- Start of Powered By Section -->
<div class="px-4 mx-auto max-w-6xl py-24">
    <div class="flex justify-between items-center w-full">
        <div class="w-1/3">
            <a class="block w-24 font-bold" href="https://ckan.org/">
                <div class="text-xs mb-2">{{__('Powered by')}}</div>
                <div class="text-xl">CKAN</div>
            </a>
        </div>
        <div class="w-2/3 text-base">
            <div class="mb-2">
                En ouvrant ses données à tous, la Ville de Montréal permet qu’elles soient réutilisées à différentes fins, incluant des fins commerciales. Les résultats de cette réutilisation peuvent ensuite être partagés dans la communauté, ce qui crée un effet démultiplicateur. 
            </div>
            <a class="text-primary font-bold" href="#">Lire la démarche</a>
        </div>
    </div>
</div>
<!-- End of Powered By Section -->

{% endblock %}
