<!-- Data Explorer CSS -->
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/main.24836f2c.chunk.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/2.5b97ed95.chunk.css">
<!-- End Data Explorer CSS -->

<div class="data-explorer" id="data-explorer-0" data-datapackage='{{ explorer | safe }}'></div>
<script type="text/javascript" src="/static/js/dataexplorer/runtime~main.a8a9905a.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/2.9b5ead7b.chunk.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/main.5309eb33.chunk.js"></script>
