{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/main.0e85ebd4.chunk.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/2.0f69c0e7.chunk.css">
<div class="container mx-auto p-gutter">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
	<a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
	<a class="breadcrumb_link" href="#" aria-current="page">{{__('Explorer')}}</a>
      </li>
    </ol>
  </nav>
  <div class="data-explorer" id="data-explorer-0" data-datapackage='{{ explorer | safe }}'></div>
</div>
{% endblock content %}
  <div id="content" class="container mx-auto p-gutter">
{% block scripts %}
<script type="text/javascript" src="/static/js/dataexplorer/runtime~main.a8a9905a.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/2.30cee88f.chunk.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/main.1157632d.chunk.js"></script>
{% endblock scripts %}
