<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
  </title>
  <meta property="og:image" content="https://donnees.montreal.ca/static/img/MTLdonneesGRIS.png">
  <meta name="author" content="Datopian">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/stylesheets/app.css">
  <link rel="stylesheet" href="/static/stylesheets/montreal.css">
    <link rel="stylesheet" href="/static/font-icon/_icons.css">

  <script type="text/javascript">
    // PASSWORD PROTECTION SCRIPT
    
    function TheLogin() {
    
    var password = '20mont.ca20';
    
    if (this.document.login.pass.value == password) {
        window.location.href =  window.origin + '/home';
    }
    else {
      window.alert("Mot de passe incorrect, veuillez réessayer.");
      }
    }
  </script>    
</head>
  
<body style="background-image: url(/static/img/bandeaugris.png) ">
  <div class=" flex justify-between py-20">
    <div class=" w-1/3 ">
    </div>
    <div class=" flex w-1/3 justify-center content-center items-center ">
      <a class="logo">
        <img src="/static/img/logo.svg" alt="City of Montreal" title="City of Montreal"
             width="190px"/></a>
    </div>
    <div class="w-1/3">
    </div>
  </div>
  <div style="text-align: center; margin: 0 auto; color: rgb(24, 24, 77); font: normal 20px arial, sans-serif;">
    Tapez votre mot de passe:<br>
    <form name="login" style="margin: 5px 0px 0px 0px;">
    <input class="border-2 border-solid border-gray-600 my-4 outline-none focus:border-secondary w-20" type="password" name="pass" onkeydown="if(event.keyCode==13) event.keyCode=9;" ><br>
    <input type="button" class="float-center bg-transparent mb-4 hover:bg-primary text-primary font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded-full" value="Cliquez ici pour vous identifier" onclick="javascript:TheLogin(this.form)">
    </form>
  </div>      
</body>
<script>
  //set lang
   el = document.getElementById('lang')
    if(readCookie('defaultLocale') == 'fr') {
      el.innerHTML = "English"
      el.setAttribute("data-language", "en");
      el.setAttribute("data-language-name", "English");
    }else if (readCookie('defaultLocale') == 'en') {
      el.innerHTML = "Français"
      el.setAttribute("data-language", "fr");
      el.setAttribute("data-language-name", "Français");
    }
  //set cookie
  function languageSwitcher(el) {
    let lang = el.getAttribute('data-language');
    document.cookie = 'defaultLocale=' + lang;
    location.reload();
  }
  //get cookie
  function readCookie(name) {
    var cookieName = name + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(cookieName) == 0) return c.substring(cookieName.length, c.length);
    }
    return null;
  }
</script>
</html>