{% extends "base.html" %} {% block title %} Bienvenue! | Welcome! {% endblock %}
{% block bodyclass %}home{% endblock %} {% block content %}
<section class="home-top">
  <div class="row">
    <div class="tint"></div>
    <div class="container home-page-banner">
      <div class="module-content box">
        <div class="span12">
          <h1 class="hero-text-heading heading text-6xl">
            Donnée Montreal
          </h1>
          <div class="hero-text-description secondary-heading text-2xl">
            <form class="montreal-banner-search w-full" action="/search" method="GET">
              <div class="home_search">
                <input
                  type="text"
                  class="rounded-full bg-gray-200 text-gray-600 pl-4 pr-12 py-3 text-lg w-full"
                  placeholder="Search ..."
                  name="q"
                  required
                />
                <button class="absolute inset-y-0 right-0 px-3" type="submit">
                  <svg class="w-6 h-6 fill-secondary" aria-label="Search Datasets">
                    <use xlink:href="#search" />
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-image-container">
      <img
        class="home-page-hero"
        src="https://res.cloudinary.com/villemontreal/image/upload/f_auto,q_auto/v1/portail/j350sjrlsy18u2fjo6la.jpg"
        alt="La rue Laurier"
        title=""
        class="w-99"
      />
    </div>
  </div>
</section>


<section>
  <!-- Collections -->
  <div class="flex">
  <div class="w-2/3">
  <div>
    <h2 class="text-2xl">Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <ul class="sm:flex flex-wrap sm:-mx-4 mt-gutter">
    {% for collection in collections %}
    <!-- group -->
    <li class="sm:w-1/2 lg:w-1/3 p-2 bg-gray-200">
      <div class="border-solid border-2 border-primary mb-2"></div>
      <a class="p-4" href="/{{ slug }}/{{ collection.name }}">
        <h2 class="font-semibold text-lg text-center h-16">{{ collection.title }}</h3>
        <img class="w-full" src="{{ collection.image }}">
      </a>
    </li>
    <!-- group end -->
    {% endfor %}
  </ul>
  </div>
  <!-- End Collections -->
  <!-- Social Media Sidebar -->
  <div class="w-1/3 ml-6">
    <div class="border-solid border-2 border-black mt-4"></div>
    <div class="border-top border-bottom ">
      <h3 class="text-2xl">Pour Nous Suivre</h3>
      <div>
        <a href="#">Twitter</a>
        <a href="#">RSS</a>
        <a href="#">E-Mail</a>
      </div>
    </div>
    <div class="border-solid border-2 border-black mt-4"></div>
    <div>
      <h3 class="text-2xl">Ensembles de donnée récemment ajoutés ou mis á jour</h3>
      <div class="max-w-sm border-solid border-gray-600 border-2 p-2 rounded overflow-hidden m-4">
        <h3 class="text-xl text-primary">Title</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
      </div>
      <div class="max-w-sm border-solid border-gray-600 border-2 p-2 rounded overflow-hidden m-4">
        <h3 class="text-xl text-primary">Title</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
      </div>
      <div class="max-w-sm border-solid border-gray-600 border-2 p-2 rounded overflow-hidden m-4">
        <h3 class="text-xl text-primary">Title</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>
  <!-- End Social Media Sidebar -->
</section>

<section>
  <div class="container mx-auto my-16 px-gutter">
    <section class="md:flex">
      <!-- article-preview -->
      <article
        class="article-preview my-gutter pb-gutter md:w-1/3 md:mr-gutter"
      >
        <a class="article-preview_image" href="#">
          <img
            class="article-preview_img"
            src="http://www.opendata.dk/sites/default/files/styles/node_banner/public/odaa/blog/img_e0051.jpg"
          />
        </a>
        <div class="article-preview_text">
          <h1 class="article-preview_heading">
            <a href="#">Lorem Ipsum Set</a>
          </h1>
          <time class="article-preview_date">14. maj, 2019</time>
          <p class="article-preview_content">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea..."
          </p>
        </div>
      </article>
      <!-- article-preview end -->
      <!-- article-preview -->
      <article
        class="article-preview my-gutter pb-gutter md:w-1/3 md:mr-gutter"
      >
        <a class="article-preview_image" href="#">
          <img
            class="article-preview_img"
            src="http://www.opendata.dk/sites/default/files/styles/node_banner/public/odaa/blog/img_e0051.jpg"
          />
        </a>
        <div class="article-preview_text">
          <h1 class="article-preview_heading">
            <a href="#">Lorem Ipsum Set</a>
          </h1>
          <time class="article-preview_date">14. maj, 2019</time>
          <p class="article-preview_content">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea..."
          </p>
        </div>
      </article>
      <!-- article-preview end -->
      <!-- article-preview -->
      <article
        class="article-preview my-gutter pb-gutter md:w-1/3 md:mr-gutter"
      >
        <a class="article-preview_image" href="#">
          <img
            class="article-preview_img"
            src="http://www.opendata.dk/sites/default/files/styles/node_banner/public/odaa/blog/img_e0051.jpg"
          />
        </a>
        <div class="article-preview_text">
          <h1 class="article-preview_heading">
            <a href="#">Lorem Ipsum Set</a>
          </h1>
          <time class="article-preview_date">14. maj, 2019</time>
          <p class="article-preview_content">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea..."
          </p>
        </div>
      </article>
      <!-- article-preview end -->
    </section>

    <!-- if future events -->
    <section class="home_events lg:w-2/3 my-gutter">
      <div class="overflow-hidden">
        <ul class="slider">
          <!-- event -->
          <li>
            <a class="flex">
              <time
                class="flex flex-col justify-center bg-secondary text-white text-center px-6 py-4"
              >
                <span class="font-semibold text-3xl leading-none">17</span>
                <span class="leading-none">jun</span>
              </time>
              <div class="px-6">
                <h3 class="font-semibold text-2xl">
                  Upcoming Event -- lorem ipsum dolor
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea...
                </p>
              </div>
            </a>
          </li>
          <!-- event end -->
          <!-- event -->
          <li>
            <a class="flex">
              <time
                class="flex flex-col justify-center bg-secondary text-white text-center px-6 py-4"
              >
                <span class="font-semibold text-3xl leading-none">17</span>
                <span class="leading-none">jun</span>
              </time>
              <div class="px-6">
                <h3 class="font-semibold text-2xl">
                  Upcoming Event -- lorem ipsum dolor
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea...
                </p>
              </div>
            </a>
          </li>
          <!-- event end -->
        </ul>
      </div>
    </section>
    <!-- end if -->

    <section class="home_feed py-gutter">
      <div class="inline-block bg-gray-900 text-white p-10 my-6">
        <h3 class="font-semibold text-2xl">An announcement for all</h3>
        <p class="leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea...
        </p>
        <a class="font-semibold" href="#">More</a>
      </div>
    </section>
  </div>
</section>
{% endblock %}
