{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - {{__('Dataset')}}
{% endblock %}

{% block content %}
<div class="container mx-auto p-gutter">

<!-- Data Explorer CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/main.chunk.css">
<link rel="stylesheet" type="text/css" href="/static/css/2.chunk.css">
<!-- End Data Explorer CSS -->

  <nav class="breadcrumb" aria-label="breadcrumb">
    <ol>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/">{{__('Home')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search">{{__('Data')}}</a>
      </li>
      <li class="breadcrumb_item">
        <a class="breadcrumb_link" href="/search/{{ dataset.name }}" aria-current="page">{{ dataset.title or dataset.name }}</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mx-auto p-gutter">
  <!-- info -->
  <div class>

    <h1 class="text-4xl font-semibold mb-3">
      {{ dataset.title or dataset.name }}
    </h1>
    
    <!-- owner -->
    <div>
      <div class="flex">
        <img src="{{ dwner.avatar or '/static/img/org.svg'}}" class="m-4 h-24" />
        <a class="px-4 text-primary text-xl font-semibold mt-2" href="/{{ owner.name }}">{{ owner.title }}</a>
      </div>


      <p class="px-4 py-2 text-sm">
        {{ owner.description | safe | truncate(200) }} <a href="/{{ owner.name }}" class="text-primary font-bold">{{__('More...')}}</a>
      </p>
    </div>
    <!-- end owner -->

    <!-- short readme -->
    {% if dataset.readmeSnippet %}
      <div class="leading-relaxed my-4">{{dataset.readmeSnippet}} <a href="#readme" onclick="scrollDown(this)" class="text-primary font-bold">{{__('More')}}}}</a></div>
    {% elif dataset.readmeHtml %}
      <div class="leading-relaxed my-4">{{dataset.readmeHtml|safe}}</div>
    {% elif dataset.description %}
      {% if dataset.description|length > 250 %}
        <div class="leading-relaxed my-4">{{dataset.description|truncate(200)}} <a href="#readme" onclick="scrollDown(this)" class="text-primary font-bold">{{__('More...')}}</a></div>
      {% else %}
        <div class="leading-relaxed my-4">{{dataset.description}}</div>
      {% endif %}
    {% endif %}
    <!-- end short readme -->


    <h3 class="text-3xl font-semibold mt-gutter mb-4">{{ dataset.resources | length }} {% if dataset.resources | length > 1 %}{{__('data files')}} {% else %} {{__('data file')}} {% endif %}</h2>



	  <div>
        <table class="table info no-left-padding my-4">
          <thead>
            <tr>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Size</th>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Format</th>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Created</th>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Updated</th>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">License</th>
              <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Download</th>
            </tr>
          </thead>
          <tbody>
		  {% for resource in dataset.resources %}	
            
            <tr>
              <td class="col-xs-1 py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">{{ resource.size or '--'}}</td>
              <td class="col-xs-2 format-list py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                {{ resource.format }}
              </td>
              <td class="col-xs-2 py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">{{ resource.created }}</td>
              <td class="col-xs-2 py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">{{ resource.last_modified }}</td>
              <td class="col-xs-2 py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                  <i class="fas fa-gavel"></i> 
                        @@TODO 
              </td>
              <td class="col-xs-2 py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                <a href="{{ resource.path }}" title="Download file" target="_blank">
                    Download file
                </a>
                
                <i class="fas fa-external-link-square-alt"></i> 
    
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>




    <!-- data files (downloads) -->
    <ul>
      {% for resource in dataset.downloads or dataset.resources %}
      <!-- data file -->
      <li class="mb-6">
        <h3 class="text-3xl font-semibold">
          <a href="#resource-{{resource.name}}">{{resource.title or resource.name}}</a>
        </h3>

        <!-- Download Button -->
        <nav class="my-4">
          <a class="data-file-type" href="{{ resource.path }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{__('Download')}} {% if resource.format %}({{ resource.format }}){% endif %}
              </dt>
              {% if resource.size %}
              <dd class="data-file-type_size">
                [{{resource.size}}]
              </dd>
              {% endif %}
            </dl>
          </a>
          {% for alt in resource.otherFormats %}
          <a class="data-file-type" href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}{{ '?v='+revisionId if revisionId }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{alt.format}}
              </dt>
              <dd class="data-file-type_size">
                {{alt.prettyBytes}}
              </dd>
            </dl>
          </a>
          {% endfor %}
        </nav>
        <!-- Download Button End -->
        <p>
          {{ resource.description or resource.title }}
        </p>
        <div class="data-explorer" id="data-explorer-{{ loop.index - 1 }}" data-datapackage='{{ dataset.dataExplorers[loop.index - 1] | safe }}'>{{ loop.index - 1 }}</div>

      </li>
      <!-- data file end -->
      {% endfor %}
    </ul>
  </div>
  <!-- info end -->

  <!-- meta -->
  <!-- meta end -->
</div>

<div class="container mx-auto p-gutter">
  <div class="lg:flex justify-between">
    <!-- readme section -->
    {% if dataset.readmeSnippet or dataset.readmeHtml %}
    <div class="lg:w-2/3 lg:mr-gutter lg:pr-10">
      <div class="">
        <h2 id="readme" class="text-3xl font-semibold mt-gutter mb-2">{{__('Read me')}}</h2>
        <div class="leading-relaxed">{{dataset.readmeHtml|safe}}</div>
      </div>
    </div>
    {% elif dataset.description %}
    <div class="lg:w-2/3 lg:mr-gutter lg:pr-10">
      <div class="">
        <h2 id="readme" class="text-3xl font-semibold mt-gutter mb-2">{{__('Read me')}}</h2>
        <div class="leading-relaxed">{{dataset.description}}</div>
      </div>
    </div>
    {% endif %}<!-- end of readme section -->

    <!-- Additional info -->
    <!-- snip -->
    <!-- Additional info end -->
  </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript" src="/static/js/runtime~main.js"></script>
<script type="text/javascript" src="/static/js/2.chunk.js"></script>
<script type="text/javascript" src="/static/js/main.chunk.js"></script>

{% endblock %}
