{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - {{__('Dataset')}}
{% endblock %}

{% block content %}
<!-- data explorer CSS -->
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/main.0e85ebd4.chunk.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/dataexplorer/2.1c55df8f.chunk.css">
<!-- end data explorer CSS -->

<section class="font-open-sans leading-relaxed">
  <!-- breadcrumbs -->
  <div class="container mx-auto px-gutter">
    <div class="w-full font-sans text-gray-ink py-3" aria-label="breadcrumb">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
          <li class="breadcrumb_item hover:text-primary">
            <a href="/">{{__('Home')}}</a>
          </li>
          <li class="breadcrumb_item hover:text-primary">
            <a href="/collections">{{__('Collections')}}</a>
          </li>
          <li class="breadcrumb_item hover:text-primary">
            <a href="/collections/{{ dataset.groups[0].name}}">{{ dataset.groups[0].title }}</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- end breadcrumbs -->

  <div class="container mx-auto md:flex px-gutter">
    <!-- page navigation nolumn -->
    <div class="hidden md:block md:w-1/4 md:mr-6 text-gray-900">
      <nav class="md:sticky md:top-0 py-gutter">
        <h3 class="text-2xl font-semibold pb-4">{{__('Get started')}}</h3>
        <ul class="text-gray-900 font-semibold text-base">
          <li class="py-3 hover:text-primary"><a href="#data">{{__('Data')}}</a></li>
          
          {% if dataset.methodologie  %}
          <li class="py-3 hover:text-primary"><a href="#methodology">{{__('Methodology')}}</a></li>
          {% endif %}
          
          {% if dataset.territoire  %}
          <li class="py-3 hover:text-primary"><a href="#territories">{{__('Territories')}}</a></li>
          {% endif %}
          
          {% if dataset.keywords %}
          <li class="py-3 hover:text-primary"><a href="#keywords">{{__('Keywords')}}</a></li>
          {% endif %}
          
          <li class="py-3 hover:text-primary"><a href="#additional-info">{{__('Additional Info')}}</a></li>
        </ul>
      </nav>
    </div>
    <!-- end page navigation column -->

    <!-- page content column -->
    <div class="md:w-2/3 pt-3 pb-5 text-gray-ink">
        <!-- info -->
        <div class="">
          <h1 class="py-2 text-4xl font-semibold text-gray-900">
            {{ dataset.title or dataset.name }} {{name}}
          </h1>
          <div class="text-sm-up py-1"> 
            <p class="py-2">{{__('Data updated at')}} {{ dataset.metadata_modified | formatDate }}</p>
            <div class="flex flex-row">
              <p class="pr-2">{{__('Published by')}}</p>
              <a class="font-semibold text-sarcelle-dark hover:underline" href="/organization/{{ owner.name }}">{{ owner.title }}</a>
            {# <a class="py-2 text-primary" href="/collections/{{ dataset.groups[0].name}}">Where does this link go?</a> #}
          </div>

          <!-- readme -->
          <div class="container mt-12 mb-8 pt-16 border-t border-gray-400">
          {% if dataset.readmeSnippet or dataset.readmeHtml %}
            <div class="leading-relaxed text-lg">{{dataset.readmeHtml|safe}}</div>
          {% elif dataset.description %}
            <div class="markdown-content leading-relaxed">{{dataset.descriptionHtml|safe}}</div>
          {% endif %}
          </div>
        </div>
        <!-- end readme -->

        <h2 class="text-3xl font-semibold pt-gutter pb-4 text-gray-900">{{__('Data')}}</h2>

        <!-- resources table -->
        <table class="info block pb-12">
          <thead class="font-semibold text-left text-gray-900">
            <tr>
              <th class="px-4 py-3">{{__('Name')}}</th>
              <th class="px-4 py-3">{{__('Format')}}</th>
              <th class="px-4 py-3">{{__('Size')}}</th>
              <th class="px-4 py-3">{{__('Last Changed')}}</th>
              {# <th class="">{{__('Info & Preview')}}</th> #}
              <th class="px-4 py-3 overflow-hidden">{{__('Download')}}</th>
            </tr>
          </thead>
          <tbody>
          {% for item in dataset.displayResources %}
            <tr class="border-t border-gray-400">
              <td class="px-4 py-3">
                {# <a href="#{{ item.slug }}"> #}
                {{ item.resource.title or item.resource.name }}
                {# </a> #}
              </td>
              <td class="px-4 py-3 font-semibold text-base text-gray-900 uppercase"> {{ item.resource.format }}</td>
              <td class="px-4 py-3">{{ item.resource.sizeFormatted or '--' }}</td>
              <td class="px-4 py-3">{{ (item.resource.last_modified or item.resource.created) | formatDateFromNow }}</td>
              {# <td class=""><a href="#{{item.slug}}"><i class="icon icon-preview text-base hover:text-primary"></i></a></td> #}
              <td class="px-4 py-3 text-base text-primary">
                <a href="{{ item.resource.path | replace(urls.ckanUrl, urls.proxyUrl) }}" onclick="sendGAEvent('{{ dataset.name }}', '{{ item.resource.name }}', '{{ item.resource.format }}')" download title="Download file" target="_blank">
                  {% include "./partials/symbol/svg/download.svg" %}
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- end resources table -->
        
        <!-- data -->
        <div id="data" class="py-2">

          <!-- data views -->
      		{% include "./partials/resource-display.njk" %}
		      <!-- data views end -->
          
        </div>
        <!-- end data -->
      
        <!-- methodologie -->
        {% if dataset.methodologie  %}
        <div id="methodology" class="py-2">
          <h2 class="text-3xl font-semibold pt-gutter pb-4 text-gray-900">{{__('Methodology')}}</h2>
          <div class="markdown-content leading-relaxed">{{dataset.methodologie|processMarkdown|safe}}</div>
        </div>
        {% endif %}
        <!-- end methodologie -->

        <!-- territoire -->
        {% if dataset.territoire %}
        <div id="territories" class="py-2">
          <h2 class="text-3xl font-semibold pt-gutter pb-4 text-gray-900">{{__('Territories')}}</h2>
          {% for t in dataset.territoire %}
            <p class="py-2">{{territoires[t] | safe or ''}}</p>
          {% endfor %}
        </div class="pb-4">
        {% endif %}
        <!-- end territories -->

        <!-- keywords -->
        {% if dataset.keywords %}
        <div id="keywords" class="py-2">
          <h2 class="text-3xl font-semibold pt-gutter pb-2 text-gray-900">{{__('Keywords')}}</h2>
          <div class="flex flex-wrap ">
          {% for t in dataset.keywords %}
            <a href="/search?q=tags:{{t | safe}}" class="font-bold text-sm text-primary lowercase border border-gray-400 rounded py-1 px-2 mr-3 my-2 hover:border-primary">{{t | safe}}</a>
          {% endfor %}
          </div class="pb-4">
        </div>
        {% endif %}
        <!-- end keywords -->

        <!-- additional info -->
        <div id="additional-info" class="py-2">
          <h2 class="text-3xl font-semibold pt-gutter pb-4 text-gray-900">{{__('Additional Info')}}</h2>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Publisher')}}</h3>
            <p>{{ dataset.sources[0].name | dump | safe | replace('\"', '') or '--'}}</p>
          </div>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Temporal coverage')}}</h3>
            <p>{{ dataset.temporal or '--'}}</p>
          </div>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Source (URL)')}}</h3>
            {% if dataset.sources[0].web %}
            <a href="{{ dataset.sources[0].web }}" class="hover:text-sarcelle-dark underline">{{ dataset.sources[0].web or '--'}}</a>
            {% else %}
            <p> -- </p>
            {% endif %}
          </div>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Update frequency')}}</h3>
            <p>{{ __(dataset.update_frequency) or '--'}}</p>
          </div>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Last updated')}}</h3>
            <p>{{ dataset.metadata_modified | formatDateFromNow }}</p>
          </div>
          <div class="py-2">
            <h3 class="font-semibold text-gray-900">{{__('Creation date')}}</h3>
            <p>{{ dataset.metadata_created | formatDate }}</p>
          </div>
          <!-- <p>{{ dataset.license_url }}</p> -->
          <!-- end Additional Info section -->

          <!-- Organization block -->
          <div class="container flex mt-12 mb-8 pt-4 items-center border-t border-gray-400">
            <div class="w-1/4 pr-4">
              <img class="inline-block w-full" src="{{ owner.avatar }}"/>
            </div>
            <div class="flex flex-col w-3/4">
              <h2 class="text-black text-xl font-semibold hover:underline">
                <a href="/organization/{{ owner.name }}">{{ owner.title }}</a>
              </h2>
              <p class="py-2 text-sm text-justify">
                {{ owner.description | safe }}
              </p>
            </div>
          </div>
          <!-- End of Organization block>

          <!-- data files (downloads) -->
          {# {% include "./partials/resource-display.njk" %} #}
          <!-- info end -->
        </div>
        <!-- end additional info -->

        <!-- disqus -->
        <div class="container mx-auto p-gutter">
          <div id="disqus_thread"></div>
        </div>
        <!-- end disqus -->
      </div>
    </div>
    <!-- end page content column -->

    <!-- <div class="w-full md:w-1/4 md:ml-12">
      <div data-title="activity-feed">
          <div class="border-solid border-2 border-black mt-4"></div>
        <h3 class="text-4xl font-semibold text-zambezi my-4">{{__('Activity Feed')}}</h3>
      </div>
      {{ activities.feed | safe }}
      {% if activities.limit < 31 %}
      <ul>
        <li><a href="?activity=31" class="text-primary">{{ __('See the whole list')}}</a></li>
      </ul>
      {% endif %}
    </div> -->
  </div>
</section>
{% endblock %}

{% block scripts %}
<script>
  function toggleApi(i) {
    const el = document.getElementById(`data-api-info-${i}`)
    const body = document.body
    if (el.style.display === "none") {
      el.style.display = "block"
      body.classList.add("overflow-y-hidden")
    } else {
      el.style.display = "none"
      body.classList.remove("overflow-y-hidden")
    }
  } 

  function copyFromEl(i, el)  {
    const val = document.getElementById(`${el}-${i}`)
    val.select()
    val.setSelectionRange(0, 99999)
    document.execCommand("copy")
  }

  function sendGAEvent(datasetName, resourceName, resourceFormat) {
    gtag('event', "download", {
      'event_category': datasetName,
      'event_label': resourceName,
      'value':resourceFormat,
      'non_interaction': true
    });
  }
</script>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://donnees-montreal.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
<script type="text/javascript" src="/static/js/dataexplorer/runtime~main.a8a9905a.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/2.7a0db414.chunk.js"></script>
<script type="text/javascript" src="/static/js/dataexplorer/main.86eba3bf.chunk.js"></script>

{% endblock %}
