{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - {{__('Dataset')}}
{% endblock %}

{% block content %}
<!-- Data Explorer CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/main.chunk.css">
<link rel="stylesheet" type="text/css" href="/static/css/2.chunk.css">
<!-- End Data Explorer CSS -->

<div class="container mx-auto p-gutter"> 
  <!-- info -->
  <div class>
    <h1 class="text-4xl font-semibold text-gray-900">
      {{ dataset.title or dataset.name }}
    </h1>
    
    <!-- owner -->
    <div>
      <div class="flex">
      <!--  @@TODO put this back when avatar works
        <img src="{{ owner.avatar or '/static/img/org.svg'}}" class="m-4 h-24" />
      -->
      <a class="text-primary text-xl font-semibold mt-2 text-gray-900" href="/{{ owner.name }}">{{ owner.title }}</a>
      </div>
    </div>
    <!-- end owner -->

    <!-- readme section -->
    <div class="container mt-gutter">
      {% if dataset.readmeSnippet or dataset.readmeHtml %}
      <div class="leading-relaxed">{{dataset.readmeHtml|safe}}</div>
    </div>
      {% elif dataset.description %}
        <div class="">
          <div class="leading-relaxed">{{dataset.description}}</div>
        </div>
      {% endif %}<!-- end of readme section -->
    </div>
    <!-- end readme section -->

    <!-- resources table -->
    <h3 class="text-3xl font-semibold mt-gutter mb-4 text-gray-900">{{ dataset.resources | length }} {% if dataset.resources | length > 1 %}{{__('data files')}} {% else %} {{__('data file')}} {% endif %}</h2>
      <div>
        <table class="table info no-left-padding my-4 text-left w-full">
          <thead>
            <tr>
              <th class="col-xs-1 bg-gray-lighter font-sans font-normal  capitalize text-sm text-gray-900">{{__('Name')}}</th>
              <th class="col-xs-1 pl-2 bg-gray-lighter font-sans font-normal capitalize text-sm text-gray-900 text-center">{{__('Format')}}</th>
              <th class="col-xs-1 pl-2 bg-gray-lighter font-sans font-normal capitalize text-sm text-gray-900 text-center">{{__('Size')}}</th>
              <th class="col-xs-1 pl-2 bg-gray-lighter font-sans font-normal capitalize text-sm text-gray-900 text-center">{{__('Last Changed')}}</th>
              <th class="col-xs-1 pl-2 bg-gray-lighter font-sans font-normal capitalize text-sm text-gray-900 text-center">{{__('Info & Preview')}}</th>
              <th class="col-xs-1 pl-2 bg-gray-lighter font-sans font-normal capitalize text-sm text-gray-900 text-center">{{__('Download')}}</th>
            </tr>
          </thead>
          <tbody>
          {% set cls = cycler("bg-gray-100", "bg-white") %}
          {% for resource in dataset.resources %}	
            <tr class="{{ cls.next() }}">
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans  text-sm text-gray"><a href="#{{ resource.name }}">{{ resource.title or resource.name }}</a></td>
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans uppercase text-sm text-gray text-center"> {{ resource.format }}</td>
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans capitalize text-sm text-gray text-center">{{ resource.size or '--' }}</td>
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans capitalize text-sm text-gray text-center">{{ resource.last_modified | formatDateFromNow }}</td>
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans capitalize text-sm text-gray text-center"><a href="#{{resource.name}}"><i class="icon icon-preview text-base hover:text-primary"></i></a></td>
              <td class="col-xs-1 pl-2 py-2 bg-gray-lighter font-sans capitalize text-sm text-gray text-center">
                <a href="{{ resource.downloadPath}}" title="Download file" target="_blank"> <i class="icon icon-download text-base hover:text-primary"></i>  </a>
                
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- end resources table -->
    
    <!-- methodologie section -->
    {% if dataset.methodologie  %}
    <div class="container">
      <h2 class="text-3xl font-semibold mt-gutter mb-2 text-gray-900">{{__('Methodology')}}</h2>
      <div class="leading-relaxed">{{dataset.methodologie | safe}}</div>
    </div>
    {% endif %}
    <!-- end methodologie section -->

    </div>
    <!-- end methodologie section -->
    
    <!-- territoire section -->
    {% if dataset.territoire %}
    <div class="container">
      <h2 class="text-3xl font-semibold mt-gutter text-gray-900 mb-2">{{__('Territories')}}</h2>
      {% for t in dataset.territoire %}
        <p class="px-3 py-1">{{t | safe}}</p>
      {% endfor %}
    </div>
    {% endif %}
    <!-- end Territories section -->

       <!-- Keywords section -->
    {% if dataset.keywords %}
    <div class="container">
      <h2 class="text-3xl font-semibold mt-gutter mb-2 text-gray-900 mb-6">{{__('Keywords')}}</h2>
      <div class="flex flex-wrap ">
      {% for t in dataset.keywords %}
        <a href="/search?q=tags:{{t | safe}}" class="px-4 py-2 text-primary font-medium border-2 rounded-full border-primary mr-3 mb-3 lowercase">{{t | safe}}</a>
      {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- end Keywords section -->

    <!-- Additional Info section -->
    <div class="container">
      <h2 class="text-3xl font-semibold mt-gutter mb-2 text-gray-900">{{__('Additional Info')}}</h2>
      <p class="font-semibold">{{__('Publisher')}}</p>
      {{ dataset.author.name | dump | safe | replace("\"", "") or '--'}}
      <p class="font-semibold">{{__('Update frequency')}}</p>
      <p>{{ dataset.update_frequency or '--'}}
      <p class="font-semibold">{{__('Language')}}</p>
      <p>{{ dataset.language or '--'}}</p>
      <p class="font-semibold">{{__('Geographic area')}}</p>
      <p>{{ dataset.ext_spatial or '--'}}</p>
      <p class="font-semibold">{{__('Last updated')}}</p>
      <p>{{ dataset.metadata_updated | formatDateFromNow }}</p>
      <p class="font-semibold">{{__('Created')}}</p>
      <p>{{ dataset.metadata_created | formatDate }}</p>
      <p>{{ dataset.license_url }}</p>
    <!-- end Additional Info section -->

    <!-- data files (downloads) -->
    <ul>
      {% for resource in dataset.resources %}
      <li class="mb-6">
        <h3 class="text-3xl mt-gutter mb-2 font-semibold text-gray-900" id="{{resource.name}}">
          <a href="#resource-{{resource.title or resource.name}}">{{resource.title or resource.name}}</a>
        </h3>
      
        <!-- Download Button -->
        <nav class="my-4">
          <a class="data-file-type bg-primary hover:bg-gray-700" href="{{ resource.downloadPath}}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term ">
                {{__('Download')}} {% if resource.format %}({{ resource.format }}){% endif %}
              </dt>
              {% if resource.size %}
              <dd class="data-file-type_size">
                [{{resource.size}}]
              </dd>
              {% endif %}
            </dl>
          </a>
          {% if resource.datastore_active %}
          <a class="data-file-type bg-primary hover:bg-gray-700 cursor-pointer" onclick="toggleApi({{ loop.index }})">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term ">
                {{__('API')}}
              </dt>
            </dl>
          </a>
          {% endif %}
          {% for alt in resource.otherFormats %}
          <a class="data-file-type" href="/{{ owner.name }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}{{ '?v='+revisionId if revisionId }}">
            <dl class="data-file-type_inner">
              <dt class="data-file-type_term">
                {{alt.format}}
              </dt>
              <dd class="data-file-type_size">
                {{alt.prettyBytes}}
              </dd>
            </dl>
          </a>
          {% endfor %}
        </nav>
        <!-- Download Button End -->
        <p>
          {{ resource.description or resource.title }}
        </p>
        <div class="data-explorer" id="data-explorer-{{ loop.index - 1 }}" data-datapackage='{{ dataset.dataExplorers[loop.index - 1] | safe}}'></div>
      </li>
      <!-- data file end -->

      <!-- Data API modal -->
      {% if resource.datastore_active %}
      <div id="data-api-info-{{ loop.index }}" style="display:none">
        <div style="z-index: 1000000" class="fixed pin z-100000 overflow-auto bg-white flex fixed top-0 my-4 h-64 w-5/6 border-solid border-2 p-8">
          <div class="modal-dialog max-w-full" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close btn btn-primary relative l-0 t-0 m-2 p-2 bg-primary text-white font-extrabold" data-dismiss="modal" onclick="toggleApi({{ loop.index }})">X</button>
                <h3 class="modal-title text-3xl">
                  CKAN Data API
                </h3>
              </div>
              <div class="modal-body">
              <p><strong>Access resource data via a web API with powerful query support</strong>.
                 Further information in the <a href="http://docs.ckan.org/en/latest/maintaining/datastore.html" target="_blank">main CKAN Data API and DataStore documentation</a>.</p>
              <div class="accordion" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading bg-primary p-2">

                    <p class="accordion-toggle text-white font-bold" data-toggle="collapse" data-parent="accordion2" href="#collapse-endpoints">Endpoints</p>
                  </div>
                  <div id="collapse-endpoints" class="in panel-collapse collapse">
                    <div class="panel-body m-4">
                      <p>The Data API can be accessed via the following actions of the CKAN action API.</p>
                      <div class="table-responsive">
                        <table class="table-condensed table-striped table-bordered">
                          <thead></thead>
                          <tbody>

                          <tr>
                            <th scope="row">Query</th>
                            <td><code>https://montreal.l3.ckan.io/api/3/action/datastore_search</code></td>
                          </tr>
                          <tr>
                            <th scope="row">Query (via SQL)</th>
                            <td><code>https://montreal.l3.ckan.io/api/3/action/datastore_search_sql</code></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading bg-primary p-2">
                    <p class="accordion-toggle text-white font-bold" data-toggle="collapse" data-parent="accordion2" href="#collapse-querying">Querying</p>
                  </div>
                  <div id="collapse-querying" class="collapse panel-collapse in">
                    <div class="panel-body m-4">
                      <strong>Query example (first 5 results)</strong>
                      <p>
                        <code><a href="https://montreal.l3.ckan.io/api/3/action/datastore_search?resource_id={{resource.id}}&amp;limit=5" target="_blank">https://montreal.l3.ckan.io/api/3/action/datastore_search?resource_id={{resource.id}}&amp;limit=5</a></code>
                      </p>

                      <strong>Query example (via SQL statement)</strong>
                      <p>
                        <code><a href="https://montreal.l3.ckan.io/api/3/action/datastore_search_sql?sql=SELECT * from &quot;{{resource.id}}&quot; LIMIT 5" target="_blank">https://montreal.l3.ckan.io/api/3/action/datastore_search_sql?sql=SELECT * from "{{resource.id}}" LIMIT 5</a></code>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading bg-primary p-2">
                    <p class="accordion-toggle text-white font-bold" data-toggle="collapse" data-parent="accordion2" href="#collapse-javascript">Example: Javascript</p>
                  </div>
                  <div id="collapse-javascript" class="panel-collapse collapse">
                    <div class="panel-body m-4">
                      <p>A simple ajax (JSONP) request to the data API using jQuery.</p>
                      <pre>  
                        var data = {
                          resource_id: '{{resource.id}}', // the resource id
                          limit: 5 // get 5 results
                        };
                        $.ajax({
                          url: 'https://montreal.l3.ckan.io/api/3/action/datastore_search',
                          data: data,
                          dataType: 'jsonp',
                          success: function(data) {
                            alert('Total results found: ' + data.result.total)
                          }
                        });
                      </pre>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading br-primary">
                    <p class="accordion-toggle text-white font-bold" data-toggle="collapse" data-parent="accordion2" href="#collapse-python">Example: Python</p>
                  </div>
                  <div id="collapse-python" class="panel-collapse collapse">
                    <div class="panel-body m-4">
                    <pre>
                      import urllib2
                      url = 'https://montreal.l3.ckan.io/api/3/action/datastore_search?resource_id={{resource.id}}&amp;limit=5'
                      fileobj = urllib2.urlopen(url)
                      print fileobj.read()
                    </pre>
                    </div>
                    <div class="panel-footer"><strong>NOTE: This snippet only works with python 2.</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    <!-- End of Data API modal -->
    {% endif %} <!-- if datastore active -->
  {% endfor %} <!-- for resource in dataset.resources -->
  </ul>
  <!-- info end -->
</div>

{% endblock %}

{% block scripts %}
<script>
  function toggleApi(i) {
    const el = document.getElementById(`data-api-info-${i}`)
    if (el.style.display === "none") {
      el.style.display = "block"
    } else {  el.style.display = "none" }
  } 

  function copyFromEl(i, el)  {
    const val = document.getElementById(`${el}-${i}`)
    val.select()
    val.setSelectionRange(0, 99999)
    document.execCommand("copy")
  }
</script>
<script type="text/javascript" src="/static/js/runtime~main.js"></script>
<script type="text/javascript" src="/static/js/2.chunk.js"></script>
<script type="text/javascript" src="/static/js/main.chunk.js"></script>

{% endblock %}
