.site-footer_link {
  @apply underline;
  color: inherit;

  &:hover {
    @apply text-white;
  }
}

.site-footer_heading {
  @apply font-medium;
}


.dropdown .dropdown-menu{
  visibility:hidden;
}

.dropdown:hover .dropdown-menu{
  visibility:visible;
}

