.markdown-content{
  & h1 {
  @apply text-3xl font-semibold text-gray-900;
  }
  & h2 {
      @apply text-2xl my-1 font-semibold text-gray-900;
  }

  & h3 {
      @apply text-xl my-1 font-semibold text-gray-900;
  }

  & h4 {
      @apply text-lg my-1 font-semibold text-gray-900;
  }
  & p {
    @apply mb-2;
  }
  & ol {
    @apply mt-1 ml-2 list-disc;
  }
  & ul{
    @apply mt-1 ml-2;
  }
  & code{
      font-family: "Nunito Sans",sans-serif;
      @apply font-semibold text-gray-900 text-base;
  }

}

.activity .item{
  margin-bottom: 20px;
  line-height: 1.625;
}
.activity .item span.actor img, .activity .item .fa{
 display: none;
}

.activity .item span.actor a{
 pointer-events: none;
 cursor: default;
}

.activity .item span.actor a{
 pointer-events: none;
 cursor: default;
}

.activity .item span.actor a{
 pointer-events: none;
 cursor: default;
}
.activity .item span:nth-child(2) a , 
.activity .changed-resource span:nth-child(3) a,
.activity .new-resource  span:nth-child(3) a
{
 color: #097d6c;
 text-decoration: none;
}
.activity .load-more a{
 display: none
}