@font-face {
	font-family: "icons";
	src: url('./fonts/icons.eot');
	src: url('./fonts/icons.eot?#iefix') format('eot'),
		url('./fonts/icons.woff2') format('woff2'),
		url('./fonts/icons.woff') format('woff'),
		url('./fonts/icons.ttf') format('truetype'),
		url('./fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-cross:before {
	content: "\E001";
}

.icon-download:before {
	content: "\E002";
}

.icon-dropdown:before {
	content: "\E003";
}

.icon-menu:before {
	content: "\E004";
}

.icon-preview:before {
	content: "\E005";
}

.icon-search:before {
	content: "\E006";
}
